div.bmletnotification
{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #c80d0d;
}
div.bmletnotification table
{
  color: White;
  font: Arial;
  font-size: 11px;
}
div.bmletnotification .info
{
    width: 100%;
    padding: 10px;
    text-align:right;
}
div.bmletnotification .closebutton
{
    padding: 0;
    margin: 0;
    border: solid white 1px;
    text-align:right;
    padding-left: 2px;
    padding-right: 2px;
    cursor:pointer;
}