/**
* HTML5 ✰ Boilerplate
*
* style.css contains a reset, font normalization and some base styles.
*
* Credit is left where credit is due.
* Much inspiration was taken from these projects:
* - yui.yahooapis.com/2.8.1/build/base/base.css
* - camendesign.com/design/
* - praegnanz.de/weblog/htmlcssjs-kickstart
 
*
* html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
* v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
* html5doctor.com/html-5-reset-stylesheet/
 */
HTML, BODY, DIV, SPAN, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, ABBR, ADDRESS, CITE, CODE, DEL, DFN, EM, IMG, INS, KBD, Q, SAMP, SMALL, STRONG, SUB, SUP, VAR, B, I, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD, ARTICLE, ASIDE, CANVAS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION, TIME, MARK, AUDIO, VIDEO
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit 1em sans-serif;
	vertical-align: baseline;
}
ARTICLE, ASIDE, DETAILS, FIGCAPTION, FIGURE, FOOTER, HEADER, HGROUP, MENU, NAV, SECTION
{
	display: block;
}
BLOCKQUOTE, Q
{
	quotes: none;
}
BLOCKQUOTE:before, BLOCKQUOTE:after, Q:before, Q:after
{
	content: "";
	content: none;
}
INS
{
	background-color: #FF9;
	color: #000;
	text-decoration: none;
}
MARK
{
	background-color: #FF9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
DEL
{
	text-decoration: line-through;
}
ABBR[title], DFN[title]
{
	border-bottom: 1px dotted #000000;
	cursor: help;
}
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
HR
{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #CCC;
	margin: 1em 0;
	padding: 0;
}
INPUT, SELECT
{
	vertical-align: middle;
}
/**
* Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
BODY
{
	font: 13px/1.231 sans-serif;
	font-size: small;
}
/*Hack retained to preserve specificity*/
SELECT, INPUT, TEXTAREA, BUTTON
{
	font: 99% sans-serif;
}
/*Normalize monospace sizing:
en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome*/
PRE, CODE, KBD, SAMP
{
	font-family: monospace, sans-serif;
}
/**
* Minimal base styles.
 
Always force a scrollbar in non-IE*/
HTML
{
	overflow-y: scroll;
}
/*Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test*/
A:hover, A:active
{
	outline: none;
}
UL, OL
{
	margin-left: 2em;
}
OL
{
	list-style-type: decimal;
}
/*Remove margins for navigation lists*/
NAV UL, NAV LI
{
	margin: 0;
	list-style: none;
	list-style-image: none;
}
SMALL
{
	font-size: 85%;
}
STRONG, TH
{
	font-weight: bold;
}
TD
{
	vertical-align: top;
}
/*Set sub, sup without affecting line-height: gist.github.com/413930*/
SUB, SUP
{
	font-size: 75%;
	line-height: 0;
	position: relative;
}
SUP
{
	top: -0.5em;
}
SUB
{
	bottom: -0.25em;
}
PRE
{
/*www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/*/
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}
TEXTAREA
{
	overflow: auto;
}
/*www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/*/
.ie6 LEGEND, .ie7 LEGEND
{
	margin-left: -7px;
}
/*Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css*/
INPUT[type="radio"]
{
	vertical-align: text-bottom;
}
INPUT[type="checkbox"]
{
	vertical-align: bottom;
}
.ie7 INPUT[type="checkbox"]
{
	vertical-align: baseline;
}
.ie6 INPUT
{
	vertical-align: text-bottom;
}
/*Hand cursor on clickable input elements*/
LABEL, INPUT[type="button"], INPUT[type="submit"], INPUT[type="image"], BUTTON
{
	cursor: pointer;
}
/*Webkit browsers add a 2px margin outside the chrome of form elements*/
BUTTON, INPUT, SELECT, TEXTAREA
{
	margin: 0;
}
/*Colors for form validity*/
INPUT:valid, TEXTAREA:valid
{
}
INPUT:invalid, TEXTAREA:invalid
{
	border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow: 0px 0px 5px red;
	box-shadow: 0px 0px 5px #FF0000;
}
.no-boxshadow INPUT:invalid, .no-boxshadow TEXTAREA:invalid
{
	background-color: #F0DDDD;
}
/*These selection declarations have to be separate
No text-shadow: twitter.com/miketaylr/status/12228805301
Also: hot pink!*/
::-moz-selection
{
	background: #00A6CB;
	color: #FFF;
	text-shadow: none;
}
::selection
{
	background: #00A6CB;
	color: #FFF;
	text-shadow: none;
}
/*j.mp/webkit-tap-highlight-color*/
A:link
{
	-webkit-tap-highlight-color: #00A6CB;
}
/*Make buttons play nice in IE:
www.viget.com/inspire/styling-the-button-element-in-internet-explorer/*/
BUTTON
{
	width: auto;
	overflow: visible;
}
/*Bicubic resizing for non-native sized IMG:
code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/*/
.ie7 IMG
{
	-ms-interpolation-mode: bicubic;
}
/**
* You might tweak these..
 */
BODY, SELECT, INPUT, TEXTAREA
{
/*#444 looks better than black: twitter.com/H_FJ/statuses/11800719859*/
	color: #444;
/*Set your base font here, to apply evenly
font-family: Georgia, serif;*/
}
/*Headers (h1, h2, etc) have no default font-size or margin; define those yourself*/
H1, H2, H3, H4, H5, H6
{
	font-weight: bold;
}
A, A:active, A:visited
{
	color: #00A6CB;
}
A:hover
{
	background: #00A6CB;
	color: #FFF;
}
/**
* Primary styles
*
* Author:
 
Global Styles*/
BODY
{
	font-size: 1.1em;
	background: url("/images/2.jpg");
}
P
{
	margin-bottom: 10px;
}
H1
{
	margin-bottom: 20px;
	font-size: 2.1em;
}
H2
{
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 1.8em;
}
H3
{
	font-size: 1.5em;
	margin-bottom: 10px;
}
/*Interface Elements
Button
Sliding door method taken from Janko http://www.jankoatwarpspeed.com/post/2008/04/30/make-fancy-buttons-using-css-sliding-doors-technique.aspx*/
A.button
{
/*Sliding right image*/
	background: transparent url('/images/button_right.png') no-repeat scroll top right;
	display: block;
	float: left;
	height: 46px;
/*CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT*/
	margin-right: 6px;
	padding-right: 36px;
/*CHANGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH
FONT PROPERTIES*/
	text-decoration: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
A.button SPAN
{
/*Background left image*/
	background: transparent url("/images/button_left.png") no-repeat;
	display: block;
	line-height: 40px;
/*CHANGE THIS VALUE ACCORDING TO BUTTON HEIGHT*/
	padding: 0px 0 5px 36px;
}
A.button:hover
{
/*Sliding right image*/
	background: transparent url('/images/button_right_hover.png') no-repeat scroll top right;
	display: block;
	float: left;
	height: 46px;
/*CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT*/
	margin-right: 6px;
	padding-right: 36px;
/*CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH
FONT PROPERTIES*/
	text-decoration: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
A.button:hover SPAN
{
/*Background left image*/
	background: transparent url("/images/button_left_hover.png") no-repeat;
	display: block;
	line-height: 40px;
/*CHANGE THIS VALUE ACCORDING TO BUTTON HEIGHT*/
	padding: 0px 0 5px 36px;
}
A.button:active
{
/*Sliding right image*/
	background: transparent url('/images/button_right_active.png') no-repeat scroll top right;
	display: block;
	float: left;
	height: 46px;
/*CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT*/
	margin-right: 6px;
	padding-right: 36px;
/*CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH
FONT PROPERTIES*/
	text-decoration: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
A.button:active SPAN
{
/*Background left image*/
	background: transparent url("/images/button_left_active.png") no-repeat;
	display: block;
	line-height: 40px;
/*CHANGE THIS VALUE ACCORDING TO BUTTON HEIGHT*/
	padding: 0px 0 5px 36px;
}
/*Search*/
#search
{
	background: url("/images/Search-Textbox-BG.png") no-repeat;
	height: 60px;
	width: 420px;
	float: right;
	margin-top: -10px;
	float: left;
}
#search INPUT[type=text]
{
	position: absolute;
	float: left;
	width: 330px;
	height: 27px;
	margin: 9px;
	border: 1px solid #999;
	padding-right: 65px;
	padding-left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#search A
{
	background: transparent url('/images/search-button.png') no-repeat scroll top right;
	position: absolute;
	z-index: 9999;
	height: 46px;
	margin-right: 6px;
	margin-left: 335px;
	margin-top: 3px;
	padding-left: 20px;
	padding-right: 14px;
/*FONT PROPERTIES*/
	text-decoration: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
}
#search A:hover
{
	background: transparent url('/images/search-button-hover.png') no-repeat scroll top right;
	position: absolute;
	z-index: 9999;
	height: 46px;
	margin-right: 6px;
	margin-left: 335px;
	margin-top: 3px;
	padding-left: 20px;
	padding-right: 14px;
/*FONT PROPERTIES*/
	text-decoration: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
}
#search A:active
{
	background: transparent url('/images/search-button-active.png') no-repeat scroll top right;
	position: absolute;
	z-index: 9999;
	height: 46px;
	margin-right: 6px;
	margin-left: 335px;
	margin-top: 3px;
	padding-left: 20px;
	padding-right: 14px;
/*FONT PROPERTIES*/
	text-decoration: none;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
}
#container
{
	margin: 0 auto;
	width: 960px;
}
/*Form*/
LABEL
{
	font-size: 0.9em;
	color: #999;
	font-weight: bold;
}
INPUT
{
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}
/*Todo:DRY: Repeated this style in the search box*/
INPUT:focus
{
	background: #EDFCFF;
	border: 1px solid #00A6CB;
}
/*Todo: See what will happen if I use input[type=text] instead of a class*/
INPUT.small
{
	width: 400px;
	height: 30px;
	font-size: 1.1em;
	border: 1px solid #999;
	padding: 0 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
TEXTAREA:focus
{
	background: #EDFCFF;
	border: 1px solid #00A6CB;
}
TEXTAREA
{
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 590px;
	height: 100px;
	font-size: 1.1em;
	border: 1px solid #999;
	padding: 2px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.sub-items-container
{
}
/*Drop down
Login page
Centering code taken from http://perishablepress.com/press/2007/09/25/absolute-horizontal-and-vertical-centering-via-css*/
DIV#login-box-container
{
	margin: 0 auto;
	width: 450px;
}
DIV#center
{
	margin-top: 100px;
}
DIV#center IMG
{
	padding: 20px;
}
DIV#login-box
{
	background: #FFF;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #EDEDED;
	-moz-box-shadow: 3px 3px 5px #c5c5c5;
	-webkit-box-shadow: 3px 3px 5px #c5c5c5;
	box-shadow: 3px 3px 5px #C5C5C5;
}
DIV#login-box H1
{
	color: #CCCCCC;
	margin-left: 5px;
	font-size: 2.1em;
}
DIV#login-box LABEL
{
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
DIV#login-box P
{
	font-size: 0.8em;
}
DIV#login-box .login-text
{
	width: 400px;
	height: 20px;
	padding: 5px;
	border: 1px solid #999;
}
DIV#login-box .login-text:focus
{
	background: #EDFCFF;
	border: 1px solid #00A6CB;
}
DIV#login-box FIELDSET
{
	padding: 5px;
	margin-bottom: 5px;
}
DIV#login-box .forgot-password
{
	display: block;
	padding-left: 5px;
	margin-top: 20px;
	font-size: 0.8em;
	font-weight: bold;
	color: #999;
}
DIV#login-box .forgot-password-information
{
	padding-left: 5px;
}
DIV#login-box .error
{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background: #FFEFEE;
	border-bottom: 1px solid #FF1300;
	border-top: 1px solid #FF1300;
	margin-bottom: 10px;
}
DIV#login-box .error-fieldset
{
	background-color: #FFEFEE;
}
DIV#login-box .error-fieldset P
{
	color: #FF1300;
}
#login-box SPAN
{
	font-size: 0.9em;
	margin-left: 5px;
}
/*Header*/
HEADER
{
	padding: 10px;
}
HEADER IMG
{
	margin-bottom: 20px;
	display: block;
}
HEADER .submit-link
{
	float: right;
	margin-top: -6px;
}
HEADER .submit-link:hover
{
	float: right;
	margin-top: -6px;
}
HEADER .submit-link:active
{
	float: right;
	margin-top: -6px;
}
/*Main*/
#main
{
	float: left;
	background: #FFF;
	padding: 10px;
	width: 600px;
	border: 1px solid #ECECEC;
	margin-right: 10px;
	-moz-box-shadow: 3px 3px 5px #c5c5c5;
	-webkit-box-shadow: 3px 3px 5px #c5c5c5;
	box-shadow: 3px 3px 5px #C5C5C5;
}
#main UL
{
	margin: 0;
	list-style: none;
}
#main UL.link
{
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #E5E5E5;
	color: #D4D4D4;
}
#main UL.sub-menu LI
{
	display: inline;
	font-size: 0.7em;
	font-weight: bold;
}
#main UL.sub-menu LI A
{
	color: #999;
}
#main UL.sub-menu LI A:hover
{
	background: #999;
	color: #FFF;
}
#main UL.sub-menu LI A.comment-link
{
	background: url("/images/comments-icon.png") no-repeat;
	padding-left: 20px;
}
#main UL.sub-menu LI A.submitter-link
{
	background: url("/images/user-icon.png") no-repeat;
	padding-left: 20px;
}
/*Todo: See if there is a better and more consitent way to implement the hover style*/
#main UL.sub-menu LI A.comment-link:hover
{
	background: url("/images/comments-icon-hover.png") no-repeat;
	padding-left: 20px;
	color: #00A6CB;
}
#main UL.sub-menu LI A.submitter-link:hover
{
	background: url("/images/user-icon-hover.png") no-repeat;
	padding-left: 20px;
	color: #00A6CB;
}
/*Tags*/
DIV.tags
{
	margin-top: 10px;
}
/*Todo: Understand why a wrapped list does not use the padding/margin bottom when it is not floated
Todo: Figure out why a line height affects the positioning but not padding or margin, in this case on the Hrefs*/
DIV.tags
{
	font-size: 0.7em;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 2.6em;
}
DIV.tags A
{
	margin-right: 3px;
	background: #ECECEC;
	padding: 5px;
	color: #999;
	text-decoration: none;
	white-space: nowrap;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
DIV.tags A:hover
{
	background: #00A6CB;
	color: #FFF;
}
/*Right hand secondary content*/
.secondary-content-highlight
{
	float: right;
	width: 310px;
	background: #FFF;
	padding: 10px 5px 15px;
	margin-bottom: 10px;
	text-align: center;
	-moz-box-shadow: 3px 3px 5px #c5c5c5;
	-webkit-box-shadow: 3px 3px 5px #c5c5c5;
	box-shadow: 3px 3px 5px #C5C5C5;
}
.secondary-content-highlight P
{
	margin-top: 10px;
}
.secondary-content-sub-items
{
	float: right;
	width: 310px;
}
.secondary-content
{
}
.add-link
{
	width: 100%;
	display: block;
}
/*Filter*/
.filter-container
{
	padding: 0px;
}
.filter
{
	display: inline;
	float: left;
	font-size: 0.8em;
	font-weight: bold;
	background: #D5D5D5;
	margin-right: 10px;
	height: 20px;
	padding: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.filter:hover
{
	background: #00A6CB;
	color: #FFF;
}
.filter IMG
{
	margin-top: -10px;
	padding-bottom: 1px;
	vertical-align: bottom;
	margin-bottom: 12px;
}
.first
{
	background: #00A6CB;
	color: #FFF;
}
.filter-close-icon
{
}
.filter INPUT
{
	display: inline;
	height: 20px;
	font-size: 1em;
	font-weight: bold;
	border: 1px solid #999;
}
.add-filter
{
	background: #FFF;
}
/*Profile*/
.profile
{
}
.profile IMG
{
	float: left;
	padding-right: 10px;
}
IMG.poloroid:after
{
	content: attr(title);
}
/*Link Discussion Page*/
P.commenter-name
{
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 0px;
}
P.comment-details
{
	font-size: 0.7em;
	font-weight: bold;
	color: #999;
	margin-bottom: 10px;
}
.comments
{
	border-bottom: 1px solid #D4D4D4;
	margin-bottom: 10px;
}
/*Top bar*/
.topbar
{
	background: #00A6CB;
	border-bottom: 4px solid #FFF;
	color: #FFF;
	padding: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 2px 2px #ccc;
	-moz-box-shadow: 0px 2px 2px #ccc;
	box-shadow: 0px 2px 2px #CCC;
}
/*Experiments
CSS3 Buttons*/
A.css3-button
{
	padding: 5px 10px;
	color: #565656;
	text-decoration: none;
	font-size: 0.8em;
	font-weight: bold;
	border: 1px solid #D4D4D4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 2px 1px #b8b8b8;
	-moz-box-shadow: 1px 2px 1px #b8b8b8;
	box-shadow: 1px 2px 1px #B8B8B8;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.37, rgb(216,216,216)), color-stop(0.69, rgb(228,228,228)) );
	background-image: -moz-linear-gradient( center bottom, rgb(216,216,216) 37%, rgb(228,228,228) 69% );
}
A.css3-button:hover
{
	color: #989898;
	border: 1px solid #E2E2E2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 2px 1px #b8b8b8;
	-moz-box-shadow: 1px 2px 1px #b8b8b8;
	box-shadow: 1px 2px 1px #B8B8B8;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(232,232,232)), color-stop(0.51, rgb(247,247,247)) );
	background-image: -moz-linear-gradient( center bottom, rgb(232,232,232) 2%, rgb(247,247,247) 51% );
}
A.css3-button:active
{
	color: #989898;
	border: 1px solid #E2E2E2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 1px 2px 1px #aeaeae;
	-moz-box-shadow: inset 1px 2px 1px #aeaeae;
	box-shadow: inset 1px 2px 1px #AEAEAE;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(181,181,181)), color-stop(0.51, rgb(212,212,212)) );
	background-image: -moz-linear-gradient( center bottom, rgb(181,181,181) 2%, rgb(212,212,212) 51% );
}
A.css3-button-blue
{
	padding: 5px 10px;
	color: #FFF;
	text-decoration: none;
	font-size: 0.8em;
	font-weight: bold;
	border: 1px solid #00B4DC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 2px 1px #b8b8b8;
	-moz-box-shadow: 1px 2px 1px #b8b8b8;
	box-shadow: 1px 2px 1px #B8B8B8;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(0,166,203)), color-stop(0.51, rgb(0,194,237)) );
	background-image: -moz-linear-gradient( center bottom, rgb(0,166,203) 2%, rgb(0,194,237) 51% );
}
A.css3-button-blue:hover
{
	color: #00A6CB;
	border: 1px solid #EDFCFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 2px 1px #b8b8b8;
	-moz-box-shadow: 1px 2px 1px #b8b8b8;
	box-shadow: 1px 2px 1px #B8B8B8;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(232,232,232)), color-stop(0.51, rgb(247,247,247)) );
	background-image: -moz-linear-gradient( center bottom, rgb(232,232,232) 2%, rgb(247,247,247) 51% );
}
A.css3-button-blue:active
{
	color: #DCF9FF;
	border: 1px solid #E2E2E2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 1px 2px 1px #008aa9;
	-moz-box-shadow: inset 1px 2px 1px #008aa9;
	box-shadow: inset 1px 2px 1px #008AA9;
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgb(0,166,203)), color-stop(0.51, rgb(0,194,237)) );
	background-image: -moz-linear-gradient( center bottom, rgb(0,166,203) 2%, rgb(0,194,237) 51% );
}
/**
* Non-semantic helper classes: please define your styles before this section.
 
For image replacement*/
.ir
{
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}
/*Hide for both screenreaders and browsers:
css-discuss.incutio.com/wiki/Screenreader_Visibility*/
.hidden
{
	display: none;
	visibility: hidden;
}
/*Hide only visually, but have it available for screenreaders: by Jon Neal.
www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden*/
.visuallyhidden
{
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
/*Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638*/
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
{
	clip: rect(auto auto auto auto);
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
/*Hide visually and from screenreaders, but maintain layout*/
.invisible
{
	visibility: hidden;
}
/*The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
j.mp/bestclearfix*/
.clearfix:before, .clearfix:after
{
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.clearfix:after
{
	clear: both;
}
/*Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page*/
.clearfix
{
	zoom: 1;
}
/**
* Media queries for responsive design.
*
* These follow after primary styles so they will successfully override.
 
Style adjustments for portrait mode goes here
Style adjustments for landscape mode goes here
Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/
Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust
html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
*
* Print styles.
*
* Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print
{
	*
	{
		background: transparent !important;
		color: #000000 !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}
}
/*Black prints faster: sanbeiji.com/archives/953*/
@media print
{
	A, A:visited
	{
		color: #444 !important;
		text-decoration: underline;
	}
}
@media print
{
	A[href]:after
	{
		content: " (" attr(href) ")";
	}
}
@media print
{
	ABBR[title]:after
	{
		content: " (" attr(title) ")";
	}
}
@media print
{
	.ir A:after, A[href^="javascript:"]:after, A[href^="#"]:after
	{
		content: "";
	}
}
/*Don't show links for images, or javascript/internal links*/
@media print
{
	PRE, BLOCKQUOTE
	{
		border: 1px solid #999;
		page-break-inside: avoid;
	}
}
@media print
{
	THEAD
	{
		display: table-header-group;
	}
}
/*css-discuss.incutio.com/wiki/Printing_Tables*/
@media print
{
	TR, IMG
	{
		page-break-inside: avoid;
	}
}
@media print
{
	@page
	{
		margin: 0.5cm;
	}
}
@media print
{
	P, H2, H3
	{
		orphans: 3;
		widows: 3;
	}
}
@media print
{
	H2, H3
	{
		page-break-after: avoid;
	}
}
.add-link-form
{
	background-color: #EEE;
	padding: 10px;
}
.add-link-form TEXTAREA
{
	width: 400px;
}
.errorbox
{
	color: #F25B50;
	background-color: #FCF2F2;
	padding: 10px;
	display: none;
}
