<div id="login-box-container">
    <div id="center">
        <%= image_tag "logo.png" %>
        <div id="login-box" class="WarpShadow WLarge WLight">
		    <h1>Status!</h1>
            <fieldset>
                <p><%= @status %></p>
            </fieldset>
        </div>
    </div>
</div>