<div id="login-box-container">
    <div id="center">
        <%= image_tag "logo.png" %>
        <div id="login-box" class="WarpShadow WLarge WLight">
		    <h1>Status!</h1>
            <fieldset>
                <p><%= @status %></p>
            </fieldset>
            <fieldset>
                <p>Or</p>
            </fieldset>
            <fieldset>
              <p>You can try again by clicking <%= link_to "here", :controller => "user_sessions", :action => "new" %> to login.</p>
            </fieldset>
        </div>
    </div>
</div>