<!--- body -->
<div>
    <h1>Interesting links</h1>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div>
  <div class="search-container" >
    <input type="text" id='txtsearchcriteria' name="pattern" class="search-field" />
    <a href="#" class="small blue gradient-button searchbutton">Search</a>
  </div>
  <div id="div-tablebody">
    <table class="data" id="tbllistoflinks" >
      <head>
        <tr>
          <th class="left tablecolumn" tooltip='Intersting link'>Link</th>
          <th class="right tablecolumn" tooltip='Intersting link'></th>
        </tr>
      </head>
      <tbody>
      <% unless @result.nil? %>
        <% if @result.count() > 0 -%>
          <% @result.each do |res| -%>
              <tr class="linkrow">
                <td colspan="2" ><div><a href='<%= res -%>' target="_blank" ><%= res -%></a></div>
                </td>
              </tr>
          <% end -%>
        <% else -%>
          <tr class="emptyRow linkrow">
            <td colspan="2">There is no links found for your search criteria.</td>
          </tr>
        <% end -%>
      <% else %>
          <tr class="emptyRow linkrow">
            <td colspan="2">There is no links found for your search criteria.</td>
          </tr>
      <% end  %>
       <tr id="noresultsrow">
        <td colspan="2">There is no links found for your search criteria.</td>
      </tr>
      </tbody>
      <% if !@result.nil? and @result.count() > 0 %>
        <tr class="PageNavigationRow">
            <td class="left">
              <% if @pageindex != 1 %>
                <%= link_to "Previous", "/search/" + @criteria + "/" + (@pageindex - 1).to_s %>
              <% end %>
            </td>
            <td class="Right"><%= link_to "Next", "/search/" + @criteria + "/" + (@pageindex + 1).to_s %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="clearfix"></div>
